docker run -d \
  --name=nginx \
  -p {{ instance_port_for_nginx }}:{{ nginx_contianer_port }} \
  --restart always \
  --log-opt tag="nginx" \
  --log-opt max-size=64m \
  --volume={{ data_mount_point }}/nginx/data/index.html:/usr/share/nginx/html/index.html \
  --volume={{ data_mount_point }}/nginx/config/default.conf:/etc/nginx/conf.d/default.conf \
  {{ nginx_image_url }}-withHealthCheck