docker run -d \
  --name=cadvisor \
  --net=host \
  --restart always \
  --log-opt tag="cadvisor" \
  --log-opt max-size=64m \
  --privileged=true \
  --volume=/:/rootfs:ro \
  --volume=/var/run:/var/run:ro \
  --volume=/sys:/sys:ro \
  --volume={{ data_mount_point }}/docker/:/var/lib/docker:ro \
  --volume=/dev/disk/:/dev/disk:ro \
  --volume=/dev/kmsg/:/dev/kmsg:ro \
  --volume=/cgroup:/cgroup:ro \
  {{ cadvisor_image_url }} "--port={{ instance_port_for_cadvisor }}"